* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: '', sans-serif;
    background-color: lightskyblue;
}
h1 {
    font-size: 2rem;
    padding-top: 200px;
    text-transform: uppercase;
}
main {
    height: 100vh;
}
ul {
    display: flex;
    border: 2px solid black;
    width: 40%;
    height: 100px;
    margin: 160px auto;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px #000;
    background: linear-gradient(170deg,  #4e50a5f5 30%, rgba(205, 225, 250, 0.8));
}
input,
ul li {
    border: 2px solid black;
    height: 70px;
    width: 70px;
    background-color: #add8e6;
    line-height: 70px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: inset 0px 0px 7px 0px;
}
.d-none {
    display: none;
}
#submit {
    padding: 5px 10px;
    box-shadow: 2px 2px 5px 1px #000;
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 150px;
    font-weight: bold;
    cursor: pointer;
}
main div {
    text-align: center;
}