/* Variabili */
:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --b-standard: 2px solid var(--primary-color);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.d-none {
    display: none!important;
}
.bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.b-standard {
    border: var(--b-standard);
}
/* Countdown secondi */
#countd {
    display: inline-block;
    transform: translateY(6px);
    font-size: 3rem;
}
/* Bottoni */
#btn,
#btn2 {
    margin-bottom: 50px;
    padding: 8px 15px;
    border-radius: 12px;
    background: linear-gradient(210deg, #a1e7fc 5%, #0e23b0 100%);
    color: var(--secondary-color);
    font-size: 1.3rem;
    text-shadow: 3px 1px 0px #5b6178;
    box-shadow: 0px 0px 22px -4px #0d0d0d;
    cursor: pointer;
}
/* Corpo Pagina */
body {
    background-image: linear-gradient(to right top, #f7f7f7, #e7e7f3, #d5d7f0, #c1c8ee, #aabaeb, #99bbf1, #84bdf5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
/* Titoli */
h1 {
    padding-top: 70px;
    font-size: 4rem;
    text-transform: uppercase;
}
h2 {
    padding: 60px 0;
    font-size: 2rem;
}
#container {
    width: 50vw;
    height: 60vh;
    margin: 20vh auto;
    border-radius: 25px;
    background-color: #ffffff4f;
    box-shadow: 0 0 15px 5px var(--primary-color);
}
/* Container Numeri */
#numberContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(170deg, #4e50a5f5 30%, #cde1facc);
    list-style-type: none;
    box-shadow: 2px 2px 5px 1px var(--primary-color);
}
input,
#numberContainer li {
    height: 70px;
    width: 70px;
    line-height: 70px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #ffffffe7;
    font-size: 2rem;
    box-shadow: inset 0px 0px 7px 1px var(--primary-color);
}
/* Punteggio */
#pt {
    font-size: 3.5rem;
    transform: translateY(5px);
    display: inline-block;
}